.search {
    display: flex;
    flex: 0 0 40%;
    
    justify-content: center;
    align-items: center;
    

    @include respond-to(xs) {
        order: 1;
        flex: 0 0 100%;

        background-color: var(--color-grey-light-2);
    }

    &__input {
        width: 90%;
        padding: .7rem 2rem;

        color: inherit;
        font-family: inherit;
        font-size: inherit;

        background-color: var(--color-grey-light-2);
        border: none;
        border-radius: 100px;
        
        transition: all .2s ease;
        
        &:focus {
            width: 100%;
            
            background-color: var(--color-grey-light-3);
            outline: none;
        }
        

        &::placeholder {
            color: var(--color-grey-dark-4);
            font-weight: 400;
        }

    }

    &__button {

        background-color: transparent;
        border: none;
        fill: var(--color-grey-dark-3);

        transition: .1s;
        
        &:focus {
            outline: none;
        }
        
        &:active {
            transform: translateY(.2rem);
        }

    }

    &__icon {
        width: 2rem;
        height: 2rem;
        margin-left: -3.25rem;
    }

}